{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
{% for post in posts %}
<a href="{{ url_for('post', post_id=post['id']) }}">
    <h2>{{ post['title'] }}</h2>
</a>
<span class="badge badge-primary">{{ post['created'] }}</span>
<a href="{{ url_for('edit', id=post['id']) }}">
    <span class="badge badge-warning">Edit</span>
</a>
<form method="post" action="{{ url_for('delete', id=post['id']) }}" onsubmit="return confirm('Are you sure you want to delete this post?');" style="display: inline;">
    <button type="submit" class="badge badge-danger" style="border: none; cursor: pointer;">Delete</button>
</form>
<hr>
{% endfor %}
{% endblock %}